.pricepane{
    -fx-spacing: 10px;
}

#bottompane{
    -fx-padding: 12px;
    -fx-background-color:#4682b4;
}

#toppane{
    -fx-padding: 12px;
    -fx-background-color:#4682b4;
}

#titleLabel{
    -fx-underline: true;
    -fx-text-fill: red;
    -fx-label-padding: 15px;
    -fx-font-size: 30;
    -fx-font-weight: bold;
}

#info{
    -fx-spacing: 50px;
    -fx-padding: 10px;
}

#typefield{
    -fx-spacing: 40px;
    -fx-padding: 10px;
}

#formpane{
    -fx-padding: 50px;
}

#invalidlabel{
    -fx-text-fill: red;
}

#validlabel{
    -fx-text-fill: green;
}

#welcomelabel{
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-text-fill: blue;
}

.root{
    -fx-background-color:#ffc0cb;
}

.button:hover{
    -fx-background-color: #fffafa;
}

.button{
    -fx-background-color: #c0c0c0;
}


